/*自定义组件，是不能显示的，所以需要加上这个类*/
.custom-component{
    display: none;
}
.custom-component-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;
    display: none;
}

.custom-component-box .custom-component-box-main{
    min-width: 30%;
    font-size: 1.2em;
    color: rgb(221, 221, 221);
    background-color: rgb(41, 41, 41);
    padding: 1em;
    box-shadow: 0 0px 20px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.custom-component-box .custom-component-box-main .custom-component-box-main-head{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.custom-component-box .custom-component-box-main .custom-component-box-main-head .custom-component-box-main-head-close{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
    cursor: pointer;
}
.custom-component-box .custom-component-box-main .custom-component-box-main-head .custom-component-box-main-head-close:hover > div{
    background-color: rgb(187, 16, 16);
}

.custom-component-box .custom-component-box-main .custom-component-box-main-head .custom-component-box-main-head-close > div{
    width: 1.5em;
    height: .23em;
    border-radius: .23em;
    background-color: rgb(221, 221, 221);
    transition: all .3s;
}
.custom-component-box .custom-component-box-main .custom-component-box-main-head .custom-component-box-main-head-close .custom-component-box-main-head-close-left{
    transform: rotateZ(45deg);
    position: absolute;
}
.custom-component-box .custom-component-box-main .custom-component-box-main-head .custom-component-box-main-head-close .custom-component-box-main-head-close-right{
    transform: rotateZ(-45deg);
}
.custom-component-box .custom-component-box-main .custom-component-box-main-body{
    min-height: 5em;
}